{% extends 'core/base.html' %} {% load static %}
<!-- have to load if want to use static files-->

<!-- main content -->
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/cpp.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">C++</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/python.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">Python</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/java.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">Java</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <!-- <img
    src="{% static 'core/images/selfPic.jpg' %}"
    alt="ProfilePic"
    class="img-thumbnail"
    width="250px"
    height="150px"
  /> -->
  </div>
  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/data-structure.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">DSA</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/oops.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">OOPS</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/leetcode.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">problem solving</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <!-- <img
    src="{% static 'core/images/selfPic.jpg' %}"
    alt="ProfilePic"
    class="img-thumbnail"
    width="250px"
    height="150px"
  /> -->
  </div>

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/windows.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">Windows</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/linux.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">Linux</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/deep-learning.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">Machine Learning</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <!-- <img
    src="{% static 'core/images/selfPic.jpg' %}"
    alt="ProfilePic"
    class="img-thumbnail"
    width="250px"
    height="150px"
  /> -->
  </div>

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/django.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">Django</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/react.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">React</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="col-sm-4">
      <img
        src="{% static 'serv/images/aspnet.png' %}"
        class="img-thumbnail mb-3"
        width="100px"
        height="50px"
      />
      <h3 class="sitc">ASP.NET MVC</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <!-- <img
    src="{% static 'core/images/selfPic.jpg' %}"
    alt="ProfilePic"
    class="img-thumbnail"
    width="250px"
    height="150px"
  /> -->
  </div>
</div>

{% endblock content %}
<!-- main content -->
